*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(aqua, white);
    background-repeat: no-repeat;
    height: 100vh;
}

main{
    margin: 20px auto;
    padding: 50px 15px;
    // background-color: rgba(255, 0, 0, 0.726);
    background-image: linear-gradient(red, darkred);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 400px;
    border: 10px outset gray;
    position: relative;

    @media (max-width: 500px) {
        width: 80%;
    }

    #led{
        position: absolute;
        left: 5px;
        top: 0px;
        padding: 5px;

        *{
            border-radius: 50%;
            border: 4px solid white;
        }

        @keyframes pisca {
            from{
                box-shadow: 1px 1px 20px 10px aqua;
            }
            to{
                box-shadow: 1px 1px 1px aqua;
            }
        }

        .blue{
            width: 30px;
            height: 30px;
            background-color: aqua;
            transition: all 0.5s;
        }

        .red, .yellow, .green{
            width: 15px;
            height: 15px;
        }
        .red{
            background-color: red;
        }
        .yellow{
            background-color: yellow;
        }
        .green{
            background-color: greenyellow;
        }
    }

    input{
        border-radius: 20px;
        padding: 5px 20px;
        border: solid transparent;
        transition: all 0.5s;
    }
    input:focus{
        outline: none;
        border-radius: 0px;
        background-color: transparent;
        color: white;
        border: solid white;
    }

    #pokemon{
        position: relative;
        width: 100%;

        #ambiente{
            border-radius: 10px;
            width: 100%;
            height: 250px;
        }
        
        #imgPokemon{
            position: absolute;
            top: 5%;
            left: 25%;
            width: 50%;
            height: 70%;
            z-index: 1;
            transition: all 0.5s;
            object-fit: contain;
        }
        #imgPokemon:hover{
            scale: 1.5;
        }

        p{
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: white;
            font-size: 25px;
            font-weight: bold;
            text-shadow: 1px 1px 5px black;
        }
    }

    #info{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px 20px;

        @media (max-width: 400px) {
            grid-template-columns: auto;
        }
        p{
            color: white;
            font-weight: bold;
            text-align: center;
        }
    }

    #btns{
        display: flex;
        align-items: center;
        gap: 0 50px;

        button{
            padding: 5px 20px;
            color: white;
            background-color: gray;
            border: white solid;
            border-radius: 10px;
            font-size: 15px;
            cursor: pointer;
            transition: all 0.5s;
        }
        button:hover{
            opacity: 0.5;
            border-radius: 0px;
        }
    }
}